<h1> All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
  <li> <%= link_to article.title, article, id: "article_#{article.id}", class: "article_title"   %> </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article", id: "new_article_button" %>
